name: S3 Deploy
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@main

      - name: Install
        run: npm install

      - name: Build
        run: npm run build

      - name: Deploy to my EC2 instance
        uses: easingthemes/ssh-deploy@v2.1.5
        env:
          SSH_PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY }}
          SOURCE: "./"
          REMOTE_HOST: "ec2-65-2-129-222.ap-south-1.compute.amazonaws.com"
          REMOTE_USER: "Administrator"
          TARGET: "\Downloads\SampleDist"
